<html>
<body>
  <% @orders.each do |x, y| %>
    <div style="page-break-after: always">
      <h1> HemoCue Order #
        <%= @n %>
        <% @n+= 1 %>
      </h1>
      <table border="1">
      <% @orders[x].each do |key, value| %>
        <% if value %>
          <tr>
          <td>
            <%= "#{key.upcase}:" %>
          </td>
          <td>
            <%= "#{value}" %>
          </td>
          </tr>
          <br>
        <% end %>
      <% end %>
      </table>
    </div>
    <br>
  <% end %>
</body>
</html>