<html>
<body>
  <% @orders.each do |x| %>
    <div style="page-break-after: always; font-family: Helvetica">
      <h2> Order #
        <%= @n %>
        <% @n+= 1 %>
      </h2>
      <p>HemoCue America<br/>
      250 South Kraemer Blvd.<br/>
      Mailstop: B1.SW.11<br/>
      Brea, CA 92821</p>
      <table style="border:1px solid black; border-collapse:collapse;">
        <% x.each do |key, value| %>
          <% unless value.blank? %>
            <tr style="border:1px solid black; border-collapse:collapse;">
              <td style="border:1px solid black; border-collapse:collapse;">
                <%= "#{key.to_s}:" %>
              </td>
              <td style="border:1px solid black; border-collapse:collapse;">
                <%= "#{value}" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
</body>
</html>