<html>
  <body>
    <h2 style="font-family: Helvetica"> Import CSV </h2>
    <form method="post", enctype='multipart/form-data'> 
      <input type='file' name='myfile'>
      <br/> 
      <input type='submit' value='Upload!'>
    </form>
  </body>
</html>