<html>
<body>
  <h1> This should be the csv data </h1>
  <% @orders.each do |x, y| %>
    <% @orders[x].each do |key, value| %>
      <% unless value == nil %>
        <%= "#{key}" %>
        <%= "      " %>
        <%= "#{value}" %>
        <br>
      <% end %>
    <% end %>
    <br>
    <br>
    <br>
  <% end %>
</body>
</html>