<html>
<body>
  <h1> Import CSV </h1>
  <form>
  	<action='/upload' encrypt="multipart/form-data" method='POST'> 
    <input type="file" accept=".csv" > <br> </br>
    <input type="button" value="Send">
  </form>
</body>
</html>